
body{
    overflow-x: hidden;
}
.navbar{
    background-color: #003b95;
}
.dot {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    margin-top: 8px;
    margin-right: 5px;
}
.left--section{
    color: white;
    font-weight: 700;
    font-size: 28px;
}
.right--section{
    position: relative;
}
.right--section>button{
    margin-right: 15px;
}
.currency--selector{
    position: absolute;
    bottom: -40px;
    left: -45px;
    color: white;
    background-color: black;
    padding: 2px 10px;
    border-radius: 7px;
    font-size: 14px;
    opacity: 0.9;
    display: none;
}
.language--selector{
    position: absolute;
    bottom: -40px;
    left: 10px;
    color: white;
    background-color: black;
    padding: 2px 10px;
    border-radius: 7px;
    font-size: 14px;
    opacity: 0.9;
    display: none;
}
.question--mark--selector{
    position: absolute;
    bottom: -40px;
    left: 70px;
    color: white;
    background-color: black;
    padding: 2px 10px;
    border-radius: 7px;
    font-size: 14px;
    opacity: 0.9;
    display: none;
}
.currency{
    border: none;
    background-color:transparent;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 6px;
    padding: 10px  9px;
}
.currency:hover, .bars--button:hover, .flag:hover, .list--your--property:hover, .passive:hover, .dropdown--button:hover{
    background-color:  #0255d3;
    transition: 0.3s;
}
.flag{
    border: none;
    background-color:transparent;
    color: white;
    border-radius: 6px;
    padding: 10px 8px 9px 9px;
}
.flag > img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 5px;
}
.question--mark{
    border: solid 1px white;
    background-color: transparent;
    border-radius: 50px;
    padding: 0px 7px;
}
.question--mark>i{
    color: white;
    
}
.list--your--property{
    border: none;
    background-color:transparent;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
    padding: 10px  9px;
}

.register, .sign--in{
    color: #0255d3;
    font-weight: 500;
    border-style: solid;
    border-color: #0255d3;
    border-radius: 6px;
    padding: 5px 10px;
}
.right--section--toggle{
    display: none;
    position: relative;
}
.user--icon--button{
    background-color: transparent;
    margin-right: 20px;
    border: none;
    border-radius: 7px;
    padding: 7px 10px;
}
.sign--in--selector{
    position: absolute;
    z-index: 100;
    bottom: -45px;
    left: -7px;
    color: white;
    background-color: black;
    padding: 3px 10px;
    border-radius: 7px;
    font-size: 14px;
    opacity: 0.9;
    display: none;
}

.user--icon--button:hover{
    background-color: #0255d3;
    transition: 0.3s;
}
.user--icon{
    color: white;
    border: solid;
    border-width: 1px;
    padding: 5px 5px;
    border-radius: 25px;
}
.bars--button{
    color: #c9c9ca;
    background-color: transparent;
    border-color: #0255d3;
    border-radius: 6px;
    border: none;
    padding: 10px 15px;
}
.offcanvas-title{
    font-weight: 700;
    font-size: 28px;
    margin-left: 30px;
    margin-top: 50px;
}
.offcanvas-body{
    overflow-x: hidden;
}
.offcanvas--selector:hover{
    background-color: #ededee;
    transition: 0.3s;
}
.offcanvas--selector{
    width: 110%;
    margin-left: -25px;
    padding-left: 45px;
    padding-top: 15px;
    padding-bottom: 7px;
    cursor: pointer;
}
.offcanvas--title{
    padding: 15px 5px;
}
.offcanvas--language--logo{
    width: 25px;
    height: 25px;
    border-radius: 30px;
}
.middle--section{
    color: white;
    margin-left: -30px;
    margin-bottom: -13px;
}
.middle--section > ul{
    list-style-type: none;
    display: flex;
}
.passive, .active, .dropdown--button{
    padding: 10px 13px;
    margin-right: 10px;
    text-decoration: none;
    background-color: transparent;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.active{
    background-color:  #0255d3;
    border-style: solid;
    border-width: 1px;
}
.dropdown--button{
    color: white;
    display: none;
}
.dropdown-menu-header{
    margin-left: -40px;
}
.dropdown-passive{
    padding: 10px 15px;
    margin-right: 10px;
    text-decoration: none;
    background-color: transparent;
    width: 100%;
    border: none;
    cursor: pointer;
    color: #0255d3;
}
.dropdown-passive:hover{
    opacity: 0.8;
    color:#5e5009;
    background-color:#ecc237 ;
}
.location--list>ul{
    display: flex;
    list-style-type: none;
    color: #003b95;
    margin-left: -27px;
    margin-top: 7px;
}
.location--list>ul>i{
    margin-top: 3px;
}
.location--list--active{
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 13px;
}
.location--list--active:hover{
    text-decoration: underline;
}
.location--list--passive{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 13px;
    color: black;
}
.mobile--left--side{
    width: 110%;
    padding-bottom: 25px;
    padding-top: 10px;
    margin-left: -25px;
    background-color:#ffb700;
    display: none;
}
.mobile--left--side--wrapper{
    width: 100%;
}
.search--input--mobile{
    border: solid 0.25px rgb(196, 194, 194);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 93%;
    height: 45px;
    overflow: hidden;
}
.search--input--mobile>input{
    background-image: url('../images/magnifying-glass-solid.svg');
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 40px; 
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}
.check--in--mobile{
    display: flex;
    justify-content: space-around;
}
.check--in--date--mobile,.check--out--date--mobile{
    background-color: white;
    height: 40px;
    width: 42%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding-left: 5px;
}
.check--in--date--mobile--header{
    font-size: 12px;
    margin-bottom: 0px;
}
.select--date--mobile{
    font-weight: 500;
    font-size: 13px;
    margin: 0;
}
.mobile--calendar{
    height: 270px;
    width: 91%;
    background-color: white;
    text-align: center;
    margin: auto;
    display: none;
}
.mobile--person--counter{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}
.mobile--person--counter--header{
    margin: 0;
}
.mobile--person--counter--button{
    background-color: transparent;
    border: none;
    padding-top: -50px;
    font-weight: 500;
    padding-left: 0;
}
.mobile--picker{
    background-color: white;
    height: 50px;
    width:25%;
    text-align: start;
    margin-bottom: 5px;
    border-radius: 3px;
    padding-left: 5px;  
}
.dropdown--menu{
    max-height: 150px;
    overflow: scroll;
}
.mobile--radio--question--header{
    width: 91%;
    text-align: center;
    margin: auto;
    background-color: white;
    height: 50px;
}
.mobile--question{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(204, 204, 204);
}
.mobile--question>p{
    margin: 0;
}
.mobile--question--text{
    font-size: 12px;
    text-decoration: none;
    color: black;
    margin: 0;
}
.mobile--radio--question--question--mark{
    background-color: black;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    margin-top: 2px;
}
.collapse{
    max-height: 10px;
}
.collapse--mobile{
    z-index: 101;
    text-align: start;
    font-size: 12px;
}
.mobile--question--check--wrapper{
    display: flex;
    justify-content: space-around;
}
.mobile--question--check{
    width: 45%;
    text-align: start;
}
.check-active{
    border-right: solid 0.5px rgb(158, 158, 158);
}
.btn--mobile--wrapper{
    width: 100%;
    text-align: center;
    margin: auto;
}
.btn--mobile{
    margin-top: 15px;
    width: 70%;
}


.form{
    background-color: #ffb700;
    height: 440px;
    width: 100%;
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 15px;
}
.destination--p{
    font-size: 13px;
    margin: 0;
}
.search--input{
    background-image: url('../images/magnifying-glass-solid.svg');
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    background-position: 10px; 
    padding-left: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-bottom: 7px;
    width: 92%;
}
.check--in--date{
    background-image: url('../images/calendar-regular.svg');
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    background-position: 10px; 
    padding-left: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    background-color: white;
    width: 92%;
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}
.check--in--date--calendar{
    position: absolute;
    z-index: 100;
    height: 450px;
    width: 600px;
    background-color: white;
    box-shadow: 1px 1px 5px black;
}
.check--in--page--picker{
    display: flex;
    justify-content: space-evenly;
}
.calendar--picker, .flexible{
    cursor: pointer;
    height: 50px;
    width: 100%;
    border: none;
    background-color: transparent;
}
.calendar--picker{
    color: #006ce4;
}
.calendar--picker:hover, .flexible:hover, .calendar--day--picker:hover,.month--picker--month:hover{
    background-color: #d4d6d6;
    transition: 0.3s;
}
.divider{
    margin: 0;
}
.flexible--picker{
    margin-top: 30px;
    margin-left: 25px;
    display: none;
}
.flexible--radio--buttons{
    margin-top: 15px;
    display: flex;
    margin-bottom:25px;
}
.form--check--flexible{
    margin-right: 30px;
}
.month--picker{
    margin-top: 15px;
    display: flex;
}
.month--picker--month{
    display: block;
    width: 80px;
    background-color: transparent;
    border: solid 0.25px rgb(214, 211, 211);
    margin-right: 15px;
    border-radius: 10px;
}
.month--picker--month>p{
    margin: 0;
}
.calendar{
    display: block;
}
.flexible--footer{
    display: none;
    justify-content: right;
    margin-right: 20px;
    margin-top: 30px;
    
}
.flexible--footer>p{
    margin-right: 15px;
    margin-top: 7px;
}
.flexible--footer>button{
    height: 40px;
    cursor: not-allowed;
}
.calendar--day--picker--div{
    margin-left: 20px;
    display: block;
}
.active--calendar--day--picker{
    margin-right: 10px;
    padding: 6px 10px;
    background-color: transparent;
    border-radius: 20px;
    color:#006ce4;
    border: solid 1px #006ce4;
}
.calendar--day--picker{
    margin-right: 10px;
    padding: 6px 10px;
    background-color: transparent;
    border: solid 1px grey;
    border-radius: 20px;
}


.check--out--date{
    background-image: url('../images/calendar-regular.svg');
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    background-position: 10px; 
    padding-left: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    background-color: white;
    width: 92%;
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}
.check--out--date--calendar{
    position: absolute;
    z-index: 100;
    height: 450px;
    width: 600px;
    background-color: white;
    box-shadow: 1px 1px 5px black;
}


.dropdown{
    margin-bottom: 10px;
}
.form--dropdown{
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    background-position: 10px; 
    font-size: 12px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    width: 92%;
    outline: none;
    border: none;
    position: relative;
    background-color: white;
    cursor: pointer;
}

.dropdown-menu-form{
    height: 250px;
    width: 320px;
    background-color: white; ;
    border-color: black;
    border: solid;
    position: absolute;
    z-index: 100;
    border-radius: 10px;
    display: none;
}
.dropdown--wrapper{
    margin: 10px 10px;
}
.dropdown-div{
    display: flex;
    justify-content: space-between;
}
.dropdown-div>p{
    font-weight: 500;
    font-size: 15px;
}
.dropdown-buttons{
    border: solid 1px black;
    border-radius: 5px;
    margin-top: 5px;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.dropdown-buttons>p{
    padding-top: 5px;
}

.plus--button{
    border: none;
    background-color: transparent;
    margin-left: 5px;
    margin-top: -10px;
    font-size: 25px;
    font-weight: 500;
    color: #006ce4;
    border-radius: 4px;
    
}
.minus--button{
    margin-right: 5px;
    border: none;
    background-color: transparent;
    font-size: 25px;
    margin-top: -10px;
    font-weight: 500;
    color: grey;
    cursor: no-drop;
    border-radius: 4px;
}
.plus--button:hover,.minus--button:hover,.dropdown--submit:hover{
    transition: 0.3s;
    background-color: #e7e5e5;
}
.dropdown--submit{
    width: 100%;
    height: 37px;
    margin-top: 45px;
    border-width: 1px;
    border-radius: 8px;
    background-color: transparent;
    color: #006ce4;
    border-color: #006ce4;
}
.form--label{
    font-size: 12px;
}
.first--check--question,.second--check--question {
    height: 20px;
    width: 20px;
    border: solid 1px ;
    border-radius: 20px;
    padding: 2px 4px;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
}
.second--check--question{
    margin-left: 64px;
}
.first--check--question--content{
    position: absolute;
    color: white;
    background-color: black;
    padding: 5px 5px;
    font-size: 12px;
    border-radius: 7px;
    left: 200px;
    z-index: 100;
    display: none;
}
.second--check--question--content{
    position: absolute;
    color: white;
    background-color: black;
    padding: 5px 5px;
    font-size: 12px;
    border-radius: 7px;
    left: 180px;
    z-index: 100;
    display: none;
}
.form-search{
    width: 92%;
    margin-top: 15px;
}
.more--button{
    border: none;
    background-color: transparent;
    color: #0255d3;
}
.options{
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 0.5px #bebcbc;
    border-radius: 5px;
    box-shadow: #bebcbc 1px ;
    height: auto;
    width: 92%;
}
.list--form--check{
    display: flex;
    justify-content: space-between;
}
.font--size{
    font-size: 13px;
}
.map{
    border: solid 0.5px #bebcbc;
    margin-top: 15px;
    border-radius: 15px;
    overflow: hidden;
    height: 100px;
    width: 100%;
}
.header--wrapper{
    display: flex;
    justify-content: space-between;
}
.header--name{
    margin-top: 25px;
}
.map2{
    background-image: url('../images/360_F_449736488_IAGo58o7DloC8Os5S5v9vppX3BIxzK4S.jpg');
    background-repeat: no-repeat;
    border: solid 0.5px #bebcbc;
    margin-top: 15px;
    border-radius: 15px;
    overflow: hidden;
    height: 75px;
    width: 150px;
}
.map--button--wrapper{
    width: 100%;
    text-align: center;
}
.map--button--wrapper>button{
    margin-top: 18px;
}
.right--side--dropdown{
    margin-top: 15px;
}
.right--side--dropdown>button{
    border: solid 0.5px black;
    border-radius: 15px;
    background-color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 15px;
}
.right--side--dropdown>button:hover{
    transition: 0.3s;
    background-color: #e7e5e5;
}
.right--side--dropdown--menu>li{
    margin-bottom: 10px;
}
.card{
    max-width: 800px; 
    max-height: 225px; 
    padding-right: 15px; 
    overflow:hidden
}
.img--fluid{
    padding: 10px 10px;
    border-radius: 15px;
    height: 95%;
    width: 90%;
    position: relative;
}
.heart--wrapper{
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 20px;
}
.heart--wrapper>i{
    padding-left: 8px;
    padding-top: 8px;
}
.card--body{
    margin-left: -45px;
    margin-right: 25px;
}
.card--title{
    color: #006ce4;
    cursor: pointer;
}
.card--title:hover{
    color: black;
    transition: 0.3s;
}
.location{
    display: flex;
    font-size: 11px;
}
.location--place{
    color: #006ce4;
    text-decoration:underline;
    cursor: pointer;
    margin-right: 10px;
}
.speciality{
    font-size: 12px;
    margin: auto;
}
.card--text{
    font-size: 12px;
    width: auto;
}
.card--right--side{
    display: flex;
    margin-top: 17px;
    cursor: pointer;
    margin-left: -10px;
}
.card--mobile--body{
    margin-left: -30px;
    display: none;
}
.card--title--mobile{
    font-size: 14px;
}
.card--rating--mobile{
    display: flex;
    width: 100%;
}
.rating--number--mobile{
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    margin-right: 10px;
    max-height: 25px;
    background-color:#0255d3;
    border-radius: 8px;
    color: white;
}
.rating--word--mobile{
    font-size: 13px;
    margin-right: 10px;
}
.review--mobile{
    font-size: 13px;
}

.location--mobile{
    display: flex;
    font-size: 9px;
    margin-bottom: 0px;
}
.dot2{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    margin-right: 5px;
    margin-top: 5px;
}
.location--place--mobile{
    margin-right:5px;
}
.speciality--mobile{
    font-size: 12px;
    margin: 0;
}
.rating--word{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0px;
}
.review{
    font-size: 12px;
    
}
.rating--number{
    padding: 5px 8px;
    max-height: 35px;
    margin-left: 15px;
    margin-bottom: 0px;
    background-color:#0255d3;
    border-radius: 8px;
    color: white;
}
.prices--button{
    max-height: 40px;
}

.page--count{
    display: flex;
    justify-content: space-between;
    border: solid 1px rgb(194, 194, 194);
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
}
.page--count--left--side{
    display: flex;
}
.page--count--right--side{
    padding-top: 5px;
    padding-right: 10px;
}
.page--count--arrow--left{
    cursor: no-drop;
    color: #7a7c7c;
    padding: 5px 5px;
    margin-top: 8px
}
.page--count--arrow--right{
    cursor: pointer;
    color: #006ce4;
    background-color: transparent;
    border-radius: 5px;
    max-height: 25px;
    padding: 5px 5px;
    margin-top: 8px
}
.page--count--arrow--right:hover, .page--count--number:hover{
    background-color: #d3d3d3;
    transition: 0.3s;
}
.page--count--number{
    height: 40px;
    padding: 8px 8px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 7px;
}
.page--count--number>a{
    text-decoration: none;
    height: 100%;
    width: 100%;
}
.footer--first--section{
    width: 100%;
    height: 50px;
    background-color: #003b95;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}
.footer--first--section>button{
    border: solid 1px white;
    border-radius: 5px;
    color: white;
    background-color: #003b95;
    margin-top: 10px;
}
.footer--first--section>button:hover{
    background-color: #245091;
}
.links{
    font-weight: 500;
    font-size: 14px;
    background-color: #003b95;
    margin-top: 13px;
    padding: 15px 0;
}
.links > a {
    color: white;
    margin-right: 10px;
}
.footer--second--section{
    margin-top: 100px;
    margin-bottom: 150px;
}
.footer--second--section--col>p>a{
    text-decoration: none;
    font-size: 14px;
}
.footer--second--section--col>p{
    margin-bottom: 5px;
}
.footer--second--section--col>p>a:hover{
    color: #886a06;
    transition: 0.3s;
}
.copyright{
    font-size: 12px;
    margin-left: 35px;
}
@media(max-width:1155px){
    .card--body{
        margin: auto;
    }
    .prices--button{
        font-size: 14px;
    }
}
@media(max-width:1020px){
    .passive, .active{
        font-size: 15px;
        height: 40px;
        padding-bottom: 15px;
    }
    .header--name{
        font-size: 24px;
    }
    .left--section{
        font-size: 20px;
    }
    .right--section{
        display: none;
    }
    .right--section--toggle{
        display: block;
    }
    .speciality{
        margin-top: -15px;
    }
}

@media(max-width:980px){
    .passive, .active{
        font-size: 15px;
        height: 40px;
        padding-bottom: 15px;
    }
    .header--name{
        margin-top: 35px;
        font-size: 20px;
    }
    .card{
        height: 150px;
    }
    .img--fluid{
        height: 150px;
        width: 150px;
    }
    .card--body{
        margin-left: -45px;
        margin-right: 25px;
    }
    .card--title{
        font-size: 15px;
    }
    .location{
        display: flex;
        font-size: 9px;
        margin-bottom: -10px;
    }
    .speciality{
        font-size: 9px;
    }
    .card--text{
        font-size: 9px;
    }
    .rating--word{
        font-size: 9px;
    }
    .review{
        font-size: 8px;
    }
    .rating--number{
        max-height: 23px;
        font-size: 9px;
        border-radius: 5px;
    }
    .prices--button{
        font-size: 9px;
        max-height: 40px;
    }
}

@media(max-width:865px){
    .passive, .active{
        font-size: 15px;
        height: 40px;
        padding-bottom: 15px;
    }
    
    .card--body{
        margin: auto;
    }
    .card--title{
        font-size: 12px;
    }
}

@media(max-width:815px){
    .passive, .active{
        font-size: 15px;
        height: 40px;
        padding-bottom: 15px;
    }
    .first--check--question{
        margin-left: 6px;
    }
    .second--check--question{
        margin-left: 45px;
    }
}
@media(max-width:768px){
    .passive, .active{
        font-size: 15px;
        height: 40px;
        padding-bottom: 15px;
    }
    .disable{
        display: none;
    }
    .dropdown--button{
        display: block;
    }
    .options, .map, .form, .location--list{
        display: none;
    }
    .mobile--left--side{
        display: block;
    }
    .mobile--left--side--wrapper{
        width: 70%;
        text-align: center;
        margin: auto;
    }
    .header--wrapper{
        display: none;
    }

}
@media(max-width:610px){
    .btn--close{
        position: absolute;
        right: 100px;
        top: 80px;
    }
    .dropdown--button{
        font-size: 10px;
    }
    .passive, .active{
        font-size: 10px;
        height: 40px;
        padding-bottom: 15px;
    }
    .location--list--passive{
        font-size: 10px;
    }
    .form--label{
        font-size: 11px;
    }
    .first--check--question{
        margin-left: 0px;
    }
    .second--check--question{
        margin-left: 35px;
    }
    .mobile--left--side--wrapper{
        width: 80%;
    }
}
@media(max-width:575px){
    .card---body{
        display: none;
    }
    .card--mobile--body{
        display: block;
    }
    .card--right--side--wrapper{
        display: none;
    }
    .mobile--left--side--wrapper{
        width: 100%;
    }
}
